<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <title>Consulta segura.</title>
</head>
<body>
     <div class="main-login">
        <div class="left-login">
          <h1>Consulta CNPJ,<br>agora de uma forma mais simples e rápida</h1>
          <img src="assets/img/garota01.svg" class="left-login-image" alt="garota01">
        </div>
        <div class="rigth-login">
          <div class="card-login">
            <h1>Inserir aqui</h1>
            <div class="textfield">
              <label for="CNPJ"></label>
              <input type="text" name="CNPJ" placeholder="Digite aqui o CNPJ">
            </div>
            <button class="btn-consulta">consulte agora</button>
          </div>
        </div>
    </div>     
</body>
</html>